<html>
<head></head>
<body>
  <h1>Dashboard</h1>
  <a target="_<%= ENV['DASHBOARD_URL'] %>" href="http://<%= ENV['DASHBOARD_URL'] %>">Home</a>
  <a target="_<%= ENV['PLEX_URL'] %>" href="http://<%= ENV['PLEX_URL'] %>">Plex</a>
  <a target="_<%= ENV['CLOUDCMD_URL'] %>" href="http://<%= ENV['CLOUDCMD_URL'] %>">File Management</a>
  <a target="_<%= ENV['TRANSMISSION_TV_URL'] %>" href="http://<%= ENV['TRANSMISSION_TV_URL'] %>">Download TV</a>
  <a target="_<%= ENV['TRANSMISSION_MOVIES_URL'] %>" href="http://<%= ENV['TRANSMISSION_MOVIES_URL'] %>">Download Movies</a>
</body>
</html>